* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  margin-left: 10px;
  margin-right: 10px; }

.masonry {
  background-color: white;
  max-width: 2000px; }
  .masonry .item {
    margin: 0px;
    width: 25%;
    height: 200px;
    float: left;
    border: 3px solid white;
    border-color: white; }
    .masonry .item .item_name {
      position: absolute;
      bottom: 0px;
      height: 60px;
      color: white;
      font-size: 35px;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      padding: 10px; }
    .masonry .item .item_action {
      padding: 10px;
      width: 100%;
      color: white;
      font-size: 20px;
      position: absolute;
      bottom: 0px;
      border-bottom-color: #ccc;
      border-bottom-color: rgba(255, 255, 255, 0.2);
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
      .masonry .item .item_action img {
        position: absolute;
        bottom: 10px;
        width: 100%;
        width: 30px;
        height: 30px;
        margin-bottom: 3px;
        color: white;
        font-size: 100%;
        border: 1px solid white;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px; }
        .masonry .item .item_action img .left {
          width: 50px;
          float: left; }
        .masonry .item .item_action img .right {
          width: 50px;
          float: right; }
    .masonry .item img {
      width: 100%;
      height: 100%; }

.main_controls {
  z-index: 1;
  height: 100px;
  position: absolute;
  left: 20px;
  top: 20px; }
  .main_controls .glyph_span {
    float: left;
    margin: 10px; }

/*Menu Control options*/
.side_menu {
  z-index: 2;
  position: absolute;
  height: 1095px;
  width: 300px;
  background-color: rgba(60, 60, 60, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: white; }
  .side_menu #menu_logo {
    height: 75px;
    width: 75px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px; }
  .side_menu .menu_item {
    padding: 1px;
    text-align: center;
    height: 100px;
    width: 200px;
    white-space: nowrap; }
    .side_menu .menu_item .menu_icon {
      float: left;
      width: 100px;
      height: 100px; }
    .side_menu .menu_item div {
      font-size: 30px;
      margin-top: 28px;
      height: 100px;
      width: 150px;
      font-color: #ABABAB !important;
      text-decoration: none !important; }

/*Glyphicon Additions*/
.glyphicon_lrg {
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px; }

.glyphicon_lrg_green {
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: #49B800;
  border: 2px solid #49B800;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px; }

/*Modifies glyphicon to create encapsulate in circle*/
.glyphicon {
  text-align: center;
  display: table-cell;
  vertical-align: middle; }
